<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  	<test name="Random Test">
		<classes>
       		<!-- 	-->
       			<class name="com.framework.tests.TestNgSequence" /> 
 				<class name="com.framework.tests.TestNgSequence2" /> 
 				 				<class name="com.framework.tests.TestNgSequence3" /> 
 				
		</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
